---
import { Icon } from "astro-icon/components";

import { type contact, getContact } from "../../libs/contact.ts";
import type { serviceName } from "../../types/services.ts";
import "../../styles/global.css";

export type Props = { service: serviceName; id: string };
const { service, id } = Astro.props;

const { url, icon, color }: contact = getContact(service, id);
---

<a
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={`Go to ${id}'s profile on ${service}`}
>
  <Icon name={icon} />
  <span>{id}</span>
</a>

<style define:vars={{ "accent-color": color }}>
  a {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--foreground);
    border-bottom: 2px solid
      color-mix(in srgb, var(--foreground) 30%, transparent);
    transition:
      color 0.3s ease-in-out,
      border-color 0.3s ease-in-out;

    &:hover,
    &:focus-visible {
      color: color-mix(in srgb, var(--accent-color) 20%, var(--foreground));
      border-color: color-mix(
        in srgb,
        var(--accent-color) 60%,
        var(--foreground)
      );
    }
  }

  svg {
    width: 1.5rem;
    height: auto;
    opacity: 80%;
  }

  span {
    font-family: "LINE Seed JP", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
  }
</style>
