---
import { Image } from "astro:assets";

import "../../styles/global.css";

export type Props = {
  name: string;
  description: string;
  icon: string;
};
const props = Astro.props;
---

<div id="bio">
  <div id="profile">
    <Image src={props.icon} alt={`${props.name}'s avatar`} inferSize={true} />
    <h1>{props.name}</h1>
  </div>
  <p>{props.description}</p>
</div>

<style>
  #bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
  }

  #profile {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  img {
    width: 6rem;
    height: auto;
  }

  h1,
  p {
    margin: 0;
    font-family: "LINE Seed JP", sans-serif;
    font-style: normal;
    line-height: normal;
    color: var(--foreground);
  }

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  p {
    font-size: 0.9rem;
    font-weight: normal;
    white-space: pre-line;
  }
</style>
