---
import Bio from "../components/Bio/Bio.astro";
import Contact from "../components/Contact/Contact.astro";
import Homepage from "../components/Homepage/Homepage.astro";
import Layout from "../layouts/Layout.astro";
import meta from "../libs/meta.ts";
---

<Layout title={meta.name} description={meta.description} icon={meta.icon}>
  <main>
    <div>
      <Bio name={meta.name} description={meta.description} icon={meta.icon} />
      <ul aria-label="Contacts">
        {
          meta.contacts.map(({ service, id }) => (
            <li>
              <Contact service={service} id={id} />
            </li>
          ))
        }
      </ul>
    </div>
    <Homepage url={meta.homepage} />
  </main>
</Layout>

<style>
  main {
    display: flex;
    margin: 3rem;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  @media (max-width: 40rem) {
    main {
      flex-direction: column;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }
</style>
