---
import Access from "../components/Access/Access.astro";
import Bio from "../components/Bio/Bio.astro";
import Card from "../components/Card/Card.astro";
import SNS from "../components/SNS/SNS.astro";
import Layout from "../layouts/Layout.astro";
import meta from "../libs/meta.ts";
---

<Layout title={meta.name} description={meta.description} icon={meta.icon}>
  <main>
    <div id="info">
      <Bio name={meta.name} description={meta.description} icon={meta.icon} />
      <div id="contacts">
        <Access homepage={meta.homepage} email={meta.email} />
        <ul aria-label="Contacts">
          {
            meta.sns.map(({ service, id }) => (
              <li>
                <SNS service={service} id={id} />
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <Card url={meta.card} />
  </main>
</Layout>

<style>
  main {
    display: flex;
    margin: 2rem 4rem;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  @media (max-width: 40rem) {
    main,
    #contacts {
      flex-direction: column;
    }
  }

  #info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
  }

  #contacts {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }
</style>
