---
import { pwaInfo } from "virtual:pwa-info";

import "../styles/global.css";

type Props = { title: string; description: string; icon: string };
const { title, description, icon } = Astro.props;
---

<!doctype html>
<!---

  Mobicard created by @5ouma
  https://github.com/5ouma/mobicard

  - 🚀 Built with Astro
  - ⚡ Tested with Vitest
  - 🌱 Using LINE Seed
  - 👑 Using MingCute Icon

-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, viewport-fit=cover" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" href={icon} />
    <link rel="apple-touch-icon" href={icon} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={icon} />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={icon} />

    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
    <meta
      name="theme-color"
      content="#f4f4f4"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="#242424"
      media="(prefers-color-scheme: dark)"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    background-color: var(--background);
  }
</style>

<script>
  import { registerSW } from "virtual:pwa-register";
  if ("serviceWorker" in navigator) registerSW({ immediate: true });
</script>
