---
import "../styles/global.css";

type Props = { title: string; description: string; icon: string };
const { title, description, icon } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" href={icon} />
    <link rel="apple-touch-icon" href={icon} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={icon} />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={icon} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    background-color: var(--background);
  }
</style>
